body, a {
  background-color: purple;
  color: Yellow;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
}

.title-page {
  font-size: 75px;
  border: 10px solid black;
}

ul {
  padding: 10px;
}

li {
  font-size: 30px;
}
