$background: #660478;
$text: #fcba03;
$dark: #330240;
$text-size: 30px;

body, a {
  background-color: $background;
  color: $text;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;

  h2 {
    font-weight: bold;
    padding: 50px;
  }

  .title-page {
    font-size: 75px;
    border: 10px solid $dark;
  }

  ul {
    padding: 20px;
  }

  li {
    font-size: $text-size;
  }

  #description {
    font-size: $text-size;
  }

}
